<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

</head>
<body>

<a href="insertstudent"> insert student</a>

<!--    <table id="tableStudent">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Name </th>-->
<!--                <th>address</th>-->
<!--                <th>phoneNumber</th>-->
<!--                <th>email</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--    </table>-->
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>address</th>
        <th>phoneNumber</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody id="data">
    </tbody>
</table>

    <form>
        <input type="number" id="id">
        <input type="submit" value="DELETE" onclick="removeStudentByid()">
    </form>

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>name</th>-->
<!--                <th>address</th>-->
<!--                <th>phoneNumber</th>-->
<!--                <th>email</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody id="data">-->
<!--    <tr th:each="std : ${studentslist}">-->
<!--        <td th:text="${std.name}">1</td>-->
<!--        <td><a href="#" th:text="${std.address}">Title ...</a></td>-->
<!--        <td th:text="${std.email}">Text ...</td>-->
<!--    </tr>-->
<!--    </table>-->



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>


        $(document).ready(function (){
            <!--            $("#tableStudent").dataTable({-->
            <!--                "ajax" : '/api/v1/student',-->
            <!--                columns:[-->
            <!--                    {data :"name"},-->
            <!--                    {data :"address"},-->
            <!--                    {data :"phoneNumber"},-->
            <!--                    {data :"email"}-->
            <!--                ]-->
            <!--            });-->
            <!--        });-->
                        var htmlContent = '';
                        $.ajax({
                            url: '/api/v1/student',
                            type: 'GET',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            success: function (response) {
                                for (var i = 0 ; i<response.data.length ; i++){
                                    htmlContent+= '<tr>';
                                    htmlContent+= '<td>'+response.data[i].name+'</td>';
                                    htmlContent+= '<td>'+response.data[i].address+'</td>';
                                    htmlContent+= '<td>'+response.data[i].phoneNumber+'</td>';
                                    htmlContent+= '<td>'+response.data[i].email+'</td>';
                                    htmlContent+= '</tr>';
                                    document.getElementById('data').innerHTML = htmlContent;
                                }
                            },
                            error: function () {
                                alert("error");
                            }
                        });
               });
        function removeStudentByid(){
            id= $("#id").val();
            if (confirm("Are you sure you want to delete your student id="+id) == true){
                $.ajax({
                    url: '/api/v1/student/delete',
                    type: 'POST',
                    data: jQuery.param({id:id}),
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {
                        alert(response.status+"\n"+response.message);
                    },
                    error: function (response) {
                        alert(response.responseJSON.status+"\n"+response.responseJSON.message);
                    }
                });
            }
        }
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

</body>
</html>